{% extends 'inquiry/base.html' %}

{% block content %}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Complaint</th>
		<th>Status</th>
    </tr>
    {% for inquiry in inquiries %}
    <tr>
        <div>
            <td><a href="{% url 'inquiry_detail' pk=inquiry.pk %}">{{ inquiry.fullname }}</a></td>
            <td>{{ inquiry.phonenumber }}</td>
            <td>{{ inquiry.complaint|linebreaks }}</td>
			<td>{{ inquiry.status }}</td>
        </div>
    </tr>
    {% endfor %}
</table>
{% endblock %}